@using MvcLinkedInApplication.LinkedIn
@model PeopleSearchResult
@{
    ViewBag.Title = "SearchResult";
}

<h2>SearchResult</h2>

<div class="jumbotron">
<div class="row">
    <div class="col-md-12">
        <label>People:- @Model.People</label>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <label>Count:- @Model.Count</label>
    </div>
</div>
</div>